---
import { Image } from "astro:assets";
const { src, alt, className } = Astro.props;
---

<div class=`card ${className}`>
  <picture class="image">
    <source
      media="(min-width: 1025px)"
      srcset=`${src}-l.avif 2000w,${src}.avif 1000w`
      sizes="calc(100vw - 940px)"
      type="image/avif"
    />
    <source
      media="(max-width: 1024px)"
      srcset=`${src}.avif`
      type="image/avif"
    />
    <img src=`${src}.jpg` alt={alt} width="1000" height="1333" loading="lazy" />
  </picture>
  <slot />
</div>

<style>
  .card {
    display: grid;
    aspect-ratio: 3 / 4;
    position: relative;
    align-content: end;
    @media (min-width: 768px) {
      aspect-ratio: 3 / 4;
    }
    @media (min-width: 1025px) {
      aspect-ratio: 5 / 6;
    }
  }
  .card-position1 {
    grid-column: 1 / span 8;
    margin-bottom: 3rem;
    @media (min-width: 768px) {
      grid-column: 5 / span 4;
    }
    @media (min-width: 1025px) {
      grid-column: 5 / span 3;
    }
  }
  .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--clamp);
    --clamp-min: 24;
    --clamp-max: 32;
    @media (min-width: 768px) {
      --clamp-min: 16;
      --clamp-max: 20;
    }
    @media (min-width: 1025px) {
      --clamp-min: 20;
      --clamp-max: 40;
    }
  }
</style>
