---
const { src, alt } = Astro.props;
---

<section>
  <picture class="image">
    <source
      media="(min-width: 1025px)"
      srcset=`${src}-4k.avif 3840w,${src}-3k.avif 2880w,${src}-2k.avif 1920w`
      sizes="100vw"
      type="image/avif"
    />
    <source
      media="(min-width: 768px)"
      srcset=`${src}-tab.avif`
      type="image/avif"
    />
    <source
      media="(max-width: 767px)"
      srcset=`${src}-sp.avif`
      type="image/avif"
    />
    <img src=`${src}.jpg` alt={alt} width="3840" height="2160" loading="lazy" />
  </picture>
</section>

<style>
  section {
    min-height: 100svh;
    position: relative;
    background-color: black;
  }
  .image img {
    position: absolute;
    width: 100%;
    height: 100svh;
    object-fit: cover;
  }
</style>
